@inherits LayoutComponentBase

@inject IFileService fileService
@inject ISearchService searchService;

<div class="main">
    <div class="content px-4">
        @if (file == null)
        {
            <UploadFile _LoadFile="LoadFile" />
            <button @onclick="LoadExample">LoadExample</button>
        }
        else
        {
            <nav class="navbar navbar-expand-lg">
                <a class="nav-link" href="/">Bladeren</a>
                <a class="nav-link" href="/search">Zoeken</a>
                <a class="nav-link" @onclick="Reset">Reset</a>
            </nav>

            <CascadingValue Value="file.FileRoot">
                @Body
            </CascadingValue>
        }
    </div>
</div>

@code {
    protected File file => fileService.File;

    async Task LoadExample()
    {
        await fileService.LoadExample();

        await this.InvokeAsync(StateHasChanged);
    }

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        await fileService.LoadFile(e.File.OpenReadStream(10000000), e.File.Name);

        await searchService.Fill();
    }

    async Task Reset()
    {
        await fileService.Reset();

        await this.InvokeAsync(() => StateHasChanged());
    }
}
