@inherits LayoutComponentBase

@inject IFileService fileService
@inject ISearchService searchService;

<div class="main">
    <div class="content">
        @if (file == null)
        {
            <UploadFile _LoadFile="LoadFile" />
#if DEBUG
            <button @onclick="LoadExample">LoadExample</button>
#endif
        }
        else
        {
            <Navbar _Reset="Reset" />

            <CascadingValue Value="file.FileRoot">
                @Body
            </CascadingValue>
        }
    </div>
</div>

@code {
    protected File file => fileService.File;

    async Task LoadExample()
    {
        await fileService.LoadExample();

        await searchService.Fill();

        await this.InvokeAsync(StateHasChanged);
    }

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        await fileService.LoadFile(e.File.OpenReadStream(10000000), e.File.Name);

        await searchService.Fill();
    }

    async Task Reset()
    {
        await fileService.Reset();

        await this.InvokeAsync(() => StateHasChanged());
    }
}
