<div class="card">
    @if (element is Genre)
    {
        <GenreBrowseCard element="element" />
    }
    else if (element is Book)
    {
        <BookBrowseCard element="element" />
    }
    else if (element is Article)
    {
        <ArticleBrowseCard element="element" />
    }
    else
    {
        <h3>@element.RawText</h3>
    }


    @if (!open && element.Children.Any())
    {
        <button @onclick="ToggleOpen">Open</button>
    }
    else
    {
        @foreach (var child in element.Children)
        {
            <div class="card-body">
                <BrowseNode element="child" />
            </div>
        }

        @if (element.Children.Any())
        {
            <button @onclick="ToggleOpen">Sluit</button>
        }
    }
</div>

@code {
    bool open = false;

    [Parameter]
    public FileElement element { get; set; }

    private void ToggleOpen()
    {
        open = !open;
    }
}
