<div class="card">

    <div class="d-flex flex-column">
        <div class="d-flex">
            @if (hasChildren)
            {
                <button @onclick="ToggleOpen" class="btn"><i class="@buttonIcon"></i></button>
            }

            @if (element is Genre)
            {
                <GenreBrowseContent element="element" />
            }
            else if (element is Book)
            {
                <BookBrowseContent element="element" />
            }
            else if (element is Article)
            {
                <ArticleBrowseContent element="element" />
            }
            else
            {
                <h3>@element.RawText</h3>
            }
        </div>
    </div>

    @if (open)
    {
        @foreach (var child in element.Children)
        {
            <div class="card-body">
                <BrowseNode element="child" />
            </div>
        }
    }
</div>

@code {
    bool hasChildren => element.Children.Any();
    bool open = false;

    string buttonIcon => open ? "oi oi-caret-bottom" : "oi oi-caret-right";

    [Parameter]
    public FileElement element { get; set; }

    private void ToggleOpen()
    {
        open = !open;
    }
}
