<div class="d-flex justify-content-center mt-vh-20">
    <div class="d-inline-flex flex-column ">
        <h4 class="mb-5"> Upload hier je word-bestand </h4>

        <div class="file-input-zone align-self-center">
            <InputFile OnChange="_LoadFile" />
            Bestand Kiezen
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<InputFileChangeEventArgs> _LoadFile { get; set; }
}
