<div class="d-flex justify-content-center">
    <div class="d-flex">
        <div class="d-block">
            Upload hier je word-bestand:<br />
            <div class="file-input-zone">
                <InputFile OnChange="_LoadFile" />
                Bestand Kiezen
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<InputFileChangeEventArgs> _LoadFile { get; set; }
}
