@page "/browse"

<h3>Bladeren</h3>

<div>
    @foreach (var child in element.Children)
    {
        <BrowseNode element="child" />
    }

</div>

@code {
    [CascadingParameter]
    public FileElement element { get; set; }
}