<div>
    Upload hier je word-bestand:<br />
    <div class="file-input-zone">
        <InputFile OnChange="_LoadFile" />
        Bestand Kiezen
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<InputFileChangeEventArgs> _LoadFile { get; set; }
}
