@page "/"

@using LijstenMam.Data
@inject FileService fileService

<div class="main">
    <div class="content px-4">
        <label>
            Upload hier je word-bestand:
            <InputFile OnChange="@LoadFile" />
        </label>
    </div>
</div>

@code {
    public File file = new File();

    public bool IsLoading;

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        IsLoading = true;

        await fileService.LoadFile(e.File.OpenReadStream(10000000));

        IsLoading = false;
    }
}
