@page "/"

@inject FileService fileService

<div class="main">
    <div class="content px-4">
        @if (file == null)
        {
            <label>
                Upload hier je word-bestand:<br />
                <InputFile OnChange="(e => LoadFile(e))" />
            </label>
        }
        else
        {
            <BrowseNode element="file.FileRoot" />
        }
    </div>
</div>

@code {
    public File file => fileService.File;

    public bool HasFile;

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        await fileService.LoadFile(e.File.OpenReadStream(10000000), e.File.Name);

        HasFile = true;

        await InvokeAsync(() => StateHasChanged());
    }
}
