@page "/"

@inject FileService fileService

<div class="main">
    <div class="content px-4">
        @if (file == null)
        {
            <label>
                Upload hier je word-bestand:<br />
                <InputFile OnChange="(e => LoadFile(e))" />
            </label>
        }
        else
        {
            <BrowseNode element="file.FileRoot" />

            <div>
                <input @bind="searchTerm" />
                <button @onclick="Search">Search</button>
            </div>
            <div>
                @foreach (var hit in hits)
                {
                    <SearchNode element="hit" />
                }
            </div>
        }
    </div>
</div>

@code {
    protected File file => fileService.File;

    protected string searchTerm;
    protected IEnumerable<FileElement> hits = new List<FileElement>();


    async Task Search()
    {
        hits = await fileService.Search(searchTerm, new SearchOptions());

        await InvokeAsync(() => StateHasChanged());
    }

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        await fileService.LoadFile(e.File.OpenReadStream(10000000), e.File.Name);

        await InvokeAsync(() => StateHasChanged());
    }
}
