@using LijstenMam.Data

@page "/"
@if (file.Name == null)
{
    <h3>Geen bestand geselecteerd</h3>
}
else
{
<h3>@file.Name</h3>

@foreach (var line in file.Contents)
{
    <p>@line</p>
}
<p><input @bind="newLineVal"/><button class="btn-primary" @onclick="AddLine">Regel toevoegen</button></p>
}

@code {
    [CascadingParameter]
    protected MainLayout mainLayout { get; set; }

    private File file => mainLayout.file;

    private void Save() => mainLayout.Save();

    private string newLineVal;

    private void AddLine()
    {
        file.Contents = file.Contents.Append(newLineVal).OrderBy(c => c);

        newLineVal = null;
    }
}