@inherits LayoutComponentBase

@using LijstenMam.Data
@inject FileService fileService

<div class="sidebar">
    <NavMenu fileService="fileService" _CreateFile="CreateFile" _SetFile="SetFile" />
</div>

<div class="main">
    <div class="content px-4">
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </div>
</div>


@code {
    public File file = new File();

    public void CreateFile()
    {
        fileService.AddFile();

        Update();
    }

    public void SetFile(File file)
    {
        fileService.SetFile(file);

        Update();
    }

    public void Save()
    {
        fileService.Save(file);
    }

    protected void Update()
    {
        file = fileService.CurrentFile.Copy();

        file.Contents = file.Contents.OrderBy(c => c).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => fileService.Update());
    }
}