@using LijstenMam.Data

<h3>@fileService.Files.Count() bestanden beschikbaar:</h3>

<div>
    @foreach (var file in fileService.Files)
    {
        <a @onclick="@(e => SetFile(file))">@file.Name</a><br />
    }
    <button class="btn-primary" @onclick="_CreateFile">Bestand Toevoegen</button>
</div>

@code {
    [Parameter]
    public FileService fileService { get; set; }

    [Parameter]
    public EventCallback _CreateFile { get; set; }

    [Parameter]
    public EventCallback<File> _SetFile { get; set; }

    protected async void SetFile(File file)
    {
        await _SetFile.InvokeAsync(file);
    }
}
