@using LijstenMam.Data

<h3>@fileService.Files.Count()</h3>

<div>
    <ul>
        @foreach (var file in fileService.Files)
        {
            <li @onclick="@(e => SetFile(file.Name))">@file.Name</li>
        }
        <li><button @onclick="_CreateFile">Bestand Toevoegen</button></li>
    </ul>
</div>

@code {
    [Parameter]
    public FileService fileService { get; set; }

    [Parameter]
    public EventCallback _CreateFile { get; set; }

    [Parameter]
    public EventCallback<string> _SetFile { get; set; }

    protected async void SetFile(string name)
    {
        await _SetFile.InvokeAsync(name);
    }
}
